docker.enabled = true
conda.enabled = true

params {
    outdir = "${projectDir}/results"
    input = "${projectDir}/data/samplesheet.csv"
    reference_bwa = "${projectDir}/data/ref/human_g1k_v37_decoy.fasta"
    reference = "${projectDir}/data/WholeGenomeFasta/human_g1k_v37_decoy.fasta"
    reference_index = "${projectDir}/data/WholeGenomeFasta/human_g1k_v37_decoy.fasta.fai"
    reference_dict = "${projectDir}/data/WholeGenomeFasta/human_g1k_v37_decoy.fasta.dict"
    known_sites = "${projectDir}/data/Annotation/GATKBundel/dbsnp_138.b37.vcf.gz"
    intervals = "${projectDir}/data/ref/intervals.bed"
    cohort_name = "test_cohort"
}

process {
    conda = "/pathTo/miniconda3/envs/ngs"

    withName: SNPEFF {
        conda = "/pathTo/miniconda3/envs/snpEff"
    }
}


